<div class="player">
  <ul class="li-coloring">
    <li>
      <span>name: </span><span class="p-name"></span>
    </li>
    <li>
      <p class="p-points"></p>
    </li>
    <li class="gems-container">
      <h3>Gems</h3>
      <ul class="p-gems p-wallet"></ul>
    </li>
    <li class="gems-container">
      <h3>Land bonus</h3>
      <ul class="p-gems p-land_bonus"></ul>
    </li>
    <li class='lands-container'>
      <h3>Lands</h3>
      <div class="lands p-lands"></div>
    </li>
    <li> <div class="nobles p-nobles"></div></li>
    <li><div class="p-reserve"></div></li>
  </ul>
</div>

<div id="board">
  <h3>Tier-1</h3>
  <div id="tier-1" class="lands b-lands"></div>
  <h3>Tier-2</h3>
  <div id="tier-2" class="lands b-lands"></div>
  <h3>Tier-3</h3>
  <div id="tier-3" class="lands b-lands"></div>
  <h3>Nobles</h3>
  <div class="nobles b-nobles"></div>
</div>

<div class='c-land'>
  <div class='c-header'>
    <span>PV: </span><span class='c-pv'></span><br>
    <span>Type: </span><span class='c-type'></span>
  </div>
  <div class='c-body'></div>
  <div class='c-footer'>
    <ul class="p-gems cost"></ul>
    <span>ID: </span><span class='c-id'></span>
  </div>
</div>

<div id="bank-gems">
  <ul class="b-gems p-bank"></ul>
</div>

<div class="gem-placeholder">
  <div id="gem-BB"></div>
</div>
<div class="gem-placeholder">
  <div id="gem-w"></div>
</div>
<div class="gem-placeholder">
  <div id="gem-b"></div>
</div>
<div class="gem-placeholder">
  <div id="gem-g"></div>
</div>
<div class="gem-placeholder">
  <div id="gem-r"></div>
</div>
<div class="gem-placeholder">
  <div id="gem-a"></div>
