<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8"/>
	<title>Splendid!!!!</title>
  <link rel='stylesheet' href="/_/styles.css"/>
  <!--<script src="http://code.jquery.com/jquery-1.10.2.js"></script> --!>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" >
    <script type="text/javascript" src="/_/jquery-1.11.1.min.js"></script>
  <script src='https://code.jquery.com/ui/1.11.0/jquery-ui.min.js'></script>
  <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='/_/application.js'></script>
</head>

<body>
  <div id=boardframe>
    <h1 class='Center-Container announce Absolute-Center'>Welcome ... to SPLENDOR!
    <br>
      <button id='enter'>Enter</button>
    </h1>
    <div id='spinwrap'class='spinwrap'>
        <div id=pizzazz class='pizzazz spin'></div>
    </div>
  </div>
</body>
  
